/*screen width less or equal than 490px */
@media screen and (max-width: 490px) {
    .ak-header h1 {
        font-size: 1.8rem;
    }
    .ak-header h3 {
        font-size: 0.7rem;
    }
}

/*screen width between 491px and 767px */
@media screen and (min-width: 491px) and (max-width:767px) {
    .ak-header h1 {
        font-size: 2.3rem;
    }
    .ak-header h3 {
        font-size: 1rem;
    }
}

/*screen width between 992px and 1199px */
@media screen and (min-width: 992px) and (max-width:1199px) {
    .image-text {
        margin-top: 30px;
    }
}

/*screen width less than 992px */
@media screen and (max-width: 991px) {
    .last-image-text {
        margin-top: 0;
    }
}

/*screen more or equal than 768px */
@media screen and (min-width:768px) {
    .logo {
        max-width: 70% !important;
    }
    .last-image {
        margin: 10px 0;
    }
    .ak-header h1 {
        font-size: 3rem;
    }
    .ak-header h3 {
        font-size: 1rem;
    }
}

/*screen more or equal than 1200px */
@media screen and (min-width:1200px) {
    .logo {
        max-width: 60% !important;
    }
}